*
**/*

!DataSource/
!sql/
!front/
!src/
!public/
!assets/
!components/
!styling/

!LICENSE
!README.md
!.gitignore
!eslint.config.js
!package-lock.json
!package.json
!vite.config.js

!BasicTableParse.java
!CSVToSQL.java
!*.sql
!*.html
!*.css
!*.js
!*.jsx